# Elasticsearch Configuration
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD=changeme
ELASTICSEARCH_API_VERSION=8.12

# Kibana
KIBANA_HOST=0.0.0.0
KIBANA_PORT=5601
