NODE_ENV=development
PORT=3003
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=uajs_user
MYSQL_PASSWORD=uajs206**
MYSQL_DATABASE=uajs_catalog
REDIS_HOST=redis
REDIS_PORT=6379
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
CATALOG_QUEUE=catalog_events
CATALOG_INDEX=uajs_catalogs
CATALOG_CACHE_TTL=3600
