NODE_ENV=development
PORT=3004
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=uajs_user
MYSQL_PASSWORD=uajs206**
MYSQL_DATABASE=uajs_academic
REDIS_HOST=redis
REDIS_PORT=6379
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
UNIVERSITY_QUEUE=university_events
UNIVERSITY_INDEX=uajs_university
UNIVERSITY_CACHE_TTL=3600
CORS_ALLOWED_ORIGINS=http://localhost:3000
